@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #FFFFF0;
    margin: 0;
    font-family: "Epilogue", sans-serif;
}

/* Centralizando a navbar */
.navbar {
    background-color: rgba(245, 245, 245, 0.7);  /* Um fundo transparente */
    width: 100%;  /* A navbar ocupa toda a largura da tela */
    position: fixed;  /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    z-index: 1000;

}

.navbar-expand-lg {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo da navbar */
    align-items: center;
    padding: 10px 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;  /* Centraliza os itens de navegação */
    flex-grow: 1;
    gap: 20px;  /* Espaçamento entre os itens */
    align-items: center;  
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    color: #8811aa;
    font-size: large;
    font-family: "Epilogue", sans-serif;
    text-decoration: none;
    padding: 5px 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #5e1b94;  /* Cor quando passar o mouse sobre o link */
}

/* Logo */
#Logo {
    width: 80px;
    height: auto;
}

.carousel-item{
    height: 1365px;
    width:  535px;
    
}
